body {
  cursor: none;
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  overflow: hidden;
}

#deleteBtn {
  padding: 15px 30px;
  font-size: 1.2em;
  background-color: #ff4d4d;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: none;
}

#customCursor {
  position: fixed;
  pointer-events: none;
  transition: transform 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

#pointerIcon {
  font-size: 24px;
  color: #333;
}

#handIcon {
  position: absolute;
  font-size: 50px;
  color: #333;
  top: -20px;
  left: -60px;

  opacity: 0;

  transform: rotate(-10deg);

  transition: opacity 0.3s ease-in-out;
}

#customCursor.is-pushed {
  transform: translateX(500px);
}

#customCursor.is-pushed #handIcon {
  opacity: 1;
}